body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding-left: 20px;
  background-color: rgb(243, 243, 232);
}

h1 {
  font-weight: 700;
  font-size: 35px;
  color: #0588c0;
}

button {
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #2ea7db;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  color: #2ea7db;
  font-weight: 700;
}

button:hover,
button:focus {
  background-color: #71d3fd;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
}

li {
  list-style: none;
  color: #0588c0;
  padding: 10px;
  font-size: 25px;
  font-weight: 700;
}

.country-input {
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #2ea7db;
  outline: none;
  border-radius: 10px;
  color: #2ea7db;
  font-weight: 700;
}
.country-input:focus {
  background-color: #71d3fd;
  color: #fff;
}

.country-input::placeholder {
  color: #2ea7db;
}

.country-input:focus::placeholder {
  color: #fff;
}

.country-container {
  margin-top: 25px;
  color: #0588c0;
  font-weight: 700;
}

.country {
  cursor: pointer;
}
